@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap");

$primary: #0a0;
$black: #11161d;
$grey: #ccc;

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: $black;

  * {
    padding: 0;
    margin: 0;
  }
}

.container {
  max-width: 600px;
  padding: 0.825rem;
  margin: auto;
  height: 70vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: $primary;
  letter-spacing: -1px;
  margin: 1.25rem 0;
  display: flex;

  @media (min-width: 768px) {
    font-size: 4rem;
  }
}

h2 {
  color: $grey;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.cursor {
  animation: 1s blink step-end infinite;
}

a {
  color: $primary;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul a {
  padding: 0.5rem 0;
  display: inline-block;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: $primary;
  }
}

.hidden {
  display: none;
}

.wb-body {
  background-color: $black;
  color: white;
  padding: 1.25rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.6;
}

h4 {
  margin-bottom: 10px;
}

.skills {
  display: flex;
  margin-bottom: 10px;

  &__list {
    // padding: 10px;

    border: 1px solid rgba(255, 255, 255, 0.3);

    &:last-child {
      border-left: 0;
    }
  }

  &__category {
    // margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
  }
}

.skills-menu {
  &__list {
    // margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    font-size: 0.875rem;

    &:last-child {
      border-bottom: 0;
    }
  }
}
