* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.banner-image__img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.main-content {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}


.profile-image {
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin: -45px auto 0;
    position: relative;
}

@media(min-width: 768px) {
    .profile-image {
        height: 100px;
        width: 100px;
        margin-top: -60px;
    }
}
@media(min-width: 1200px) {
    .profile-image {
        height: 150px;
        width: 150px;
            margin-top: -85px;
    }
}


.profile-image__img {
    height: 100%;
    width: 100%;
}

.profile-info {
    margin: 15px 0px;
}
@media(min-width: 768px) {
    .profile-info {
        /*margin: 25px 0px;*/
    }
}

.profile-info__title {
    font-size: 14px;
    line-height: 34px;
    color: #262626;
    font-weight: 100;
}

@media(min-width: 768px) {
    .profile-info__title {
        font-size: 16px;
        line-height: 36px;
    }
}
@media(min-width: 1200px) {
    .profile-info__title {
        font-size: 18px;
        line-height: 38px;
    }
}

.profile-info a{
    color: #f05568;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

@media(min-width: 768px) {
    .profile-info a {
        font-size: 14px;
        line-height: 26px;
    }
}
@media(min-width: 1200px) {
    .profile-info a {
        font-size: 16px;
        line-height: 28px;
    }
}

.profile-info__clg {
    font-size: 14px;
    line-height: 24px;
    color: #656565;
    font-weight: 100;
    margin-top: 5px
}

.social__list {
    display: inline-block;
    margin-right: 20px;
}
.social__link {
    text-decoration: none;
    color: #333;
}
.social__list:last-child {
    margin-right: 0px;
}
